/**
 * Basic grid system
 */
.l{
  $gutter: 10px;

  &-container {
    padding: 0 #{$gutter / 2}
  }

  &-row {
    display: flex;
    padding: #{$gutter / 2} 0;
  }

  @for $i from 1 through 12 {
    $width: percentage($i / 12);

    &-col-#{$i} {
      margin: 0 #{$gutter / 2};
      max-width: calc(#{$width} - #{$gutter});
      flex: 1;
    }
  }
}

/**
 * Helpers classes
 */

div[class|="l-col"] {
  background-color: lightblue;
}

.l-container {
  background-color: lightcyan;
}
