.l{
  &-container {

  }

  &-row {
    display: inline-block;
  }

  @for $i from 1 through 12 {
    $width: percentage(1/$i);

    &-col-#{$i} {
      width: $width;
      display: inline;
    }
  }
}